.main-container {
  padding: 2em;
  padding-top: 1em;
}

.child-container {
  display: flex;
  flex-direction: column;
  min-height: 65vh;
  border-radius: 1em;
  justify-content: center;
  place-items: center;
}

.main-container:hover > .child-container > h1 {
  filter: drop-shadow(0 0 0.1em rgba(50, 48, 49, 1));
  transition: 0.5s ease;
}

.main-container:hover .welcome {
  filter: drop-shadow(0 0 0.1em rgba(50, 48, 49, 0.2));
  transition: 0.5s ease;
}

.welcome {
  padding: 1em;
  background-color: rgba(0, 0, 0, 0.75);
  filter: drop-shadow(0 0 0.1em #000);
  box-shadow: 0 0 0.1em rgba(0, 0, 0, 0.5);
  transition: 0.5s ease;
  transition-delay: 1s;
}
.welcome-edit {
  padding: 1em;
  background-color: rgba(0, 100, 50, 0.75);
  filter: drop-shadow(0 0 0.1em #000);
  box-shadow: 0 0 0.1em rgba(0, 0, 0, 0.5);
  transition: 0.5s ease;
  transition-delay: 1s;
}

.child-container > h1 {
  filter: drop-shadow(0 0 0.05em #000);
  transition: 0.5s ease;
  transition-delay: 0.5s;
}

.dashboard {
  display: flex;
  min-width: 100%;
  justify-content: center;
  place-items: center;
}

.sec-1,
.sec-2 {
  height: 50%;
}

.sec-1 > h1 {
  display: flex;
  justify-content: center;
  place-items: center;
  height: 100%;
  width: 100%;
}

.sec-2 > h1 {
  display: flex;
  justify-content: center;
  place-items: center;
  height: 80%;
  min-width: 100%;
}
