.main-container {
  padding: 2em;
  padding-top: 1em;
  flex-direction: column;
  place-items: center;
  justify-content: center;
}

.main-container-table {
  padding: 2em;
  padding-top: 1em;
  display: table;
  /* flex-direction: row; */
  place-items: center;
  justify-content: center;
}


.child-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 1em;
  word-break: keep-all;
  height: 15vh;
  max-width: 96vw;
  border-radius: 1em;
  justify-content: space-evenly;
  place-items: center;
  overflow: auto;
}

.child-container.main {
  flex-direction: row !important;
}

.child-container.display {
  box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.75);
  filter: drop-shadow(0 0 0.25em rgba(0, 0, 0, 0.5));
}

.navigate {
  color: white;
}

.add-user {
  margin-left: 0.5em;
  margin-right: 0.5em;
  color: rgba(255, 255, 255, 0.85);
  padding: 1em;
  font-weight: 800;
  font-size: 20pt;
  width: 40%;
  text-transform: uppercase;
  background-color: rgba(77, 148, 20, 1);
  outline: none;
  border: 2px solid transparent !important;
  border-radius: 1em;
  transition: 0.25s ease;
}

.add-user:hover,
.add-user:focus {
  color: rgba(255, 255, 255, 1);
  box-shadow: inset 0 0 0.5em rgba(0, 0, 0, 0.5);
  background-color: rgba(77, 148, 20, 0.75);
  border: 2px solid rgba(0, 255, 50, 0.75) !important;
  transition: 0.5s ease;
}
.delete-all {
  margin-left: 0.5em;
  margin-right: 0.5em;
  color: rgba(255, 255, 255, 0.85);
  padding: 1em;
  font-weight: 800;
  font-size: 20pt;
  width: 40%;
  text-transform: uppercase;
  background-color: rgb(193, 37, 13, 1);
  outline: none;
  border: 2px solid transparent !important;
  border-radius: 1em;
  transition: 0.25s ease;
}

.delete-all:hover,
.delete-all:focus {
  color: rgba(255, 255, 255, 1);
  box-shadow: inset 0 0 0.5em rgba(0, 0, 0, 0.5);
  background-color: rgb(193, 37, 13, 0.75);
  border: 2px solid rgba(255, 0, 0, 0.75) !important;
  transition: 0.5s ease;
}

tr {
  padding: 1em;
}

td.field {
  width: 8em;
  padding: 0.5em;
  margin: 0.5em;
  font-weight: 600;
  text-align: center;
}

.form-input {
  padding: 0.9em;
  background-color: #fff;
  border: 1px solid transparent;
  filter: drop-shadow(0 0 0.1em #323031);
  color: #323031;
  border-radius: 0.5em;
  transition: 0.25s ease;
  margin: 1em;
}

.form-input:focus {
  padding: 0.9em;
  background-color: #fff;
  outline: none;
  border: none;
  filter: drop-shadow(0 0 0.2em #323031);
  border: 1px solid #000;
  transition: 0.2s ease;
}

.card {
  display: flex;
  justify-content: center;
  place-items: center;
  padding: 1.5em;
  flex-direction: column;
  margin: 1em;
  height: 25em;
  width: 15em;
  word-wrap: break-word;
  word-break: break-all;
  background-color: rgba(0, 0, 0, 0.75);
  box-shadow: 0 0 0.5em #000;
  border-radius: 1em;
}

.user-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  height: 55vh;
  justify-content: center;
  place-items: center;
}

.delete {
  color: #fff;
  padding: 0.5em;
  font-weight: 400;
  font-size: 8pt;
  text-transform: uppercase;
  background-color: rgba(255, 0, 0, 0.75);
  outline: none;
  border: 2px solid transparent !important;
  border-radius: 0.5em;
  transition: 0.25s ease;
}

.delete:hover,
.delete:focus {
  color: rgba(255, 0, 0, 1);
  background-color: rgba(255, 0, 0, 0);
  border: 2px solid rgba(255, 0, 0, 0.75) !important;
  transition: 0.5s ease;
}
.delete-toast {
  color: #fff;
  padding: 0.5em;
  font-weight: 400;
  font-size: 13pt;
  text-transform: uppercase;
  background-color: rgba(255, 0, 0, 0.75);
  outline: none;
  border: 2px solid transparent !important;
  border-radius: 0.5em;
  transition: 0.25s ease;
}

.delete-toast:hover,
.delete-toast:focus {
  color: rgba(255, 0, 0, 1);
  background-color: rgba(255, 0, 0, 0);
  border: 2px solid rgba(255, 0, 0, 0.75) !important;
  transition: 0.5s ease;
}

.delete.close {
  padding: 1em;
  border-radius: 10em;
  position: relative;
}

.edit-user {
  color: #fff;
  padding: 0.5em;
  margin: 0.5em;
  font-weight: 400;
  font-size: 8pt;
  text-transform: uppercase;
  background-color: rgba(50, 255, 10, 0.75);
  outline: none;
  border: 2px solid transparent !important;
  border-radius: 0.5em;
  transition: 0.25s ease;
}

.edit-user:hover,
.edit-user:focus {
  color: rgba(50, 255, 10, 1);
  background-color: rgba(50, 255, 10, 0);
  border: 2px solid rgba(50, 255, 10, 0.75) !important;
  transition: 0.5s ease;
}
.edit-user-toast {
  color: #fff;
  padding: 0.5em;
  margin: 0.5em;
  font-weight: 400;
  font-size: 13pt;
  text-transform: uppercase;
  background-color: rgba(28, 158, 2, 0.75);
  outline: none;
  border: 2px solid transparent !important;
  border-radius: 0.5em;
  transition: 0.25s ease;
}

.edit-user-toast:hover,
.edit-user-toast:focus {
  color: rgba(28, 158, 2, 0.75);
  background-color: rgba(50, 255, 10, 0);
  border: 2px solid rgba(28, 158, 2, 0.75) !important;
  transition: 0.5s ease;
}
.view-user {
  color: #fff;
  text-align: center;
  vertical-align: middle;
  padding: 0.2em 0.5em;
  font-weight: 400;
  font-size: 8pt;
  text-transform: uppercase;
  background-color: rgba(0, 255, 195, 0.75);
  outline: none;
  border: 2px solid transparent !important;
  border-radius: 0.5em;
  transition: 0.25s ease;
}

.view-user:hover,
.view-user:focus {
  color: rgba(0, 255, 195, 1);
  background-color: rgba(50, 255, 10, 0);
  border: 2px solid rgba(0, 255, 195, 0.75) !important;
  transition: 0.5s ease;
}

.display-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  place-items: center;
  min-height: 100%;
  min-width: 100%;
  background-color: rgba(0, 0, 0, 0.75);
}

td.head {
  width: 1em;
}

td.city {
  background-color: rgba(255, 255, 255, 0);
  border: 2px solid white;
  border-radius: 0 0 0.5em 0.5em;
  outline: none;
  color: #fff;
  height: 5em !important;
}

.df-jcsb{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.df-jcsb.p-1{
  padding: 1em;
}

td.email {
  background-color: rgba(255, 255, 255, 0);
  border-radius: 0.5em;
  font-weight: 600;
  color: #fff;
  height: 3em !important;
}

.bg-black {
  background-color: rgba(0, 0, 0, 0.85);
  box-shadow: 0 0 0.5em rgba(0, 0, 0, 1);
  padding: 3em;
  border-radius: 2em;
}

.cont{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

table{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80vw;
}


.picjcc{
  display: flex;
place-items: center;
justify-content: center;
}

.w-70{
  width: 70%;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  place-items: center;
  /* width: 10%; */
  /* height: 10px; */
  /* background-color: #fff; */
}

.buttonContainer > .navigate > .view-user {
  min-width: 100%;
  align-content: center;
  place-items: center;
  /* background-color: #000 !important; */
}

.eye,
.bin,
.pencil,
.check,
.cross {
  display: flex;
  padding: 0.1em;
}

.bc-button {
  min-height: 3em;
}
