@import "./FlexBox.css";

#root {
  max-width: 1280px;
  text-align: center;
}

ul {
  padding: 0 0 0 0 !important;
}
.max-container {
  min-width: 100vw;
  overflow: hidden;
}

.max-container-form {
  margin-top: 4em;
  display: flex;
  place-items: center;
  justify-content: center;
  min-width: 100vw;
  overflow: hidden;
}
