.navbar {
  display: flex;
  padding: 1em 0;
  font-size: 15pt;
  justify-content: center;
  place-items: center;
  min-width: 100%;
  min-height: 3rem;
  /* background-color: #000; */
  overflow: hidden;
}

.nav {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: 0 0 0 0 !important;
}
.nav-item {
  padding: 1em;
  color: #000;
  border-bottom: 3px solid transparent;
  margin: 0 0.25em;
  transition: 0.25s ease-in-out;
}
.nav-item:hover {
  color: #000;
  border-bottom: 3px solid rgba(244, 115, 35, 0.95);
  transition: 0.25s ease-in-out;
}

.active {
  border-bottom: 3px solid rgba(244, 70, 35, 0.95);
}
