@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;500;700&display=swap");

:root {
  font-family: 'Nunito Sans', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87);
  background-image: linear-gradient(to right, #89f7fe, #66a6ff);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

input {
  font-family: 'Nunito Sans', sans-serif;
  padding: 0.6em;
  background-color: #fff;
  outline: none !important;
  border: none;
  border-radius: 0.5em;
  box-shadow: 0 0 3px rgba(25, 25, 25, 0.5);
  color: #323031;
  transition: 1s ease;
  margin: 1em;
}

input:focus {
  box-shadow: 0 0 3px rgba(25, 25, 25, 0.9);
  transition: 1s ease;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #444243;
  cursor: pointer;
  letter-spacing: 0.2em;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  transition: 0.5s ease;
}
button:hover {
  border-color: #66a6ff;
  background-color: #000;
  box-shadow: 0 0 4px rgba(0, 0, 0, 1);
  transition: 0.5s ease;
}
button:focus,
button:focus-visible {
  border: 4px auto #89f7fe;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

h1,
h2,
h3 {
  font-weight: 900;
  letter-spacing: 0.3em;
}

.overflow-section::-webkit-scrollbar {
  width: 1em;
  padding: 5px;
  border-radius: 1em;

}

.overflow-section::-webkit-scrollbar-track {
  box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.4);
  border-radius: 1em;

}

.overflow-section::-webkit-scrollbar-thumb {
background-color: #323031;
outline: 1px solid #000;
box-shadow: 0 0 5px #000;
border-radius: 2em;
}


.over::-webkit-scrollbar {
  width: 1em;
  border-radius: 1em;
}

.over::-webkit-scrollbar-track {
  box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.4);
  border-radius: 1em;
}

.over::-webkit-scrollbar-thumb {
background-color: #323031;
outline: 1px solid #000;
box-shadow: 0 0 5px #000;
border-radius: 2em;
}
